<section class="container">
    <div>
        <div class="banner">
            <div class="propaganda-banner">
                <b>Gostoso como beijo!</b>
                <article>
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj 
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj 
                    hj jhg jhgj h gjh jgh gjhg jh jh gjhg  jhg jh gj  
                </article>
                <button>NUTRIÇÃO E SAÚDE</button>
            </div>
            <div class="banner-rotativo">
                <img src="app/assets/img/sorvete-kascao-cobertura-98C6W2-14-m.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="nav-bar-option-nutrients">
        <div class="title-sidebar-botton">
            <h3>NUTRIÇÃO E SAÚDE</h3>
        </div>

        <div class="nutricao">
            <div class="menu-nutricao">
                <ul>
                    <a href="" onclick="showStep(1)"><li class="active">Como se dá a <br>química do sorvete?</li></a>
                    <a href="" onclick="showStep(2)"><li>Pesquisa relaciona <br>sorvete com...</li></a>
                    <a href="" onclick="showStep(3)"><li>Tomar sorvete <br>aumenta a...</li></a>
                    <a href="" onclick="showStep(4)"><li>Tabela comparativa <br>do sorvete com...</li></a>
                </ul>
            </div>
            <div class="menu-nutricao-description" ng-hide="nutriStep1">
                <img src="app/assets/img/maquina-de-fazer-sorvete-massa.jpg" alt="">
                <article>
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                </article>
            </div>
            <div class="menu-nutricao-description" ng-show="nutriStep2">
                <img src="app/assets/img/maquina-de-fazer-sorvete-massa.jpg" alt="">
                <article>
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                </article>
            </div>
            
            <div class="menu-nutricao-description" ng-show="nutriStep3">
                <img src="app/assets/img/maquina-de-fazer-sorvete-massa.jpg" alt="">
                <article>
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                </article>
            </div>
            <div class="menu-nutricao-description" ng-show="nutriStep4">
                <img src="app/assets/img/maquina-de-fazer-sorvete-massa.jpg" alt="">
                <article>
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                    lorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj dlorem ipsonaosdasdoas odaosido aisj d
                </article>
            </div>
        </div>
    </div>
</section>