<!-- Revolution Slider -->

<div class="slider-revolution">
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../app/assets/custom/images/rs-images/fullslide1-320x200.jpg"
                data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="../app/assets/custom/images/rs-images/01.jpg" alt="fullslide2" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->

                    <div class="tp-caption cap-title font-accident-two-bold tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom" data-basealign="grid"
                    data-voffset="100" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="800" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    data-fontsize="['90','70','60','40']" data-lineheight="['120','100','90','80']" style="z-index: 2;">VIAGENS
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption cap-subtitle font-accident-one-normal tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom"
                    data-basealign="grid" data-voffset="70" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="900" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    style="z-index: 2;">FAÇA ACONTECER
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption cap-sub-subtitle tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom" data-basealign="grid"
                    data-voffset="30" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="950" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    style="z-index: 2;">WEDDINGS / TRIPS / PARTY / BOOKS / VIDEOCLIPS
                    </div>
                </li>


                <!-- SLIDE  -->
                <li data-transition="boxfade" data-slotamount="1" data-masterspeed="1000" data-thumb="../app/assets/custom/images/rs-images/fullslide2-320x200.jpg"
                data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="../app/assets/custom/images/rs-images/02.jpg" alt="fullslide3" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat">
                    <!-- LAYERS -->


                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption cap-title font-accident-two-bold tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom" data-basealign="grid"
                    data-voffset="100" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="800" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    data-fontsize="['90','70','60','40']" data-lineheight="['120','100','90','80']" style="z-index: 2;">MOMENTOS
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption cap-subtitle font-accident-one-normal tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom"
                    data-basealign="grid" data-voffset="70" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="900" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    style="z-index: 2;">eternize MOMENTOS UNICOS
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption cap-sub-subtitle tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom" data-basealign="grid"
                    data-voffset="30" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="950" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    style="z-index: 2;">WEDDINGS / TRIPS / PARTY / BOOKS / VIDEOCLIPS
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="boxfade" data-slotamount="1" data-masterspeed="1000" data-thumb="../app/assets/custom/images/rs-images/fullslide3-320x200.jpg"
                data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="../app/assets/custom/images/rs-images/03.jpg" alt="fullslide3" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat">
                    <!-- LAYERS -->


                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption cap-title font-accident-two-bold p-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom" data-basealign="grid"
                    data-voffset="100" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="800" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    data-fontsize="['90','70','60','40']" data-lineheight="['120','100','90','80']" style="z-index: 2;">CINEMA
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption cap-subtitle font-accident-one-normal tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom"
                    data-basealign="grid" data-voffset="70" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="900" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    style="z-index: 2;">DA VIDA PARA UM FILME
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption cap-sub-subtitle tp-resizeme rs-parallaxlevel-1" data-x="center" data-y="bottom" data-basealign="grid"
                    data-voffset="30" data-width=”auto” data-height=”auto” data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;" data-start="950" data-splitin=”none” data-splitout=”none” data-responsive_offset=”on”
                    style="z-index: 2;">WEDDINGS / TRIPS / PARTY / BOOKS / VIDEOCLIPS
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>

    </div>
</div>
<!-- /Revolution Slider -->

<br/>
<br/>
<br/>

<div id="content">

    <section>
        <div class="container text-center">
            <iframe src="https://player.vimeo.com/video/166025473?autoplay=1&loop=1" width="900" height="600" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/166025473">A NIGHT OF LIGHTS - Roar Films</a> from <a href="https://vimeo.com/user42880708">Daniel Carvalho</a>                on <a href="https://vimeo.com">Vimeo</a>.</p>
            <p></p>
        </div>
    </section>

    <!-- Details Block -->
    <section id="details" class="m-details e-block e-block-dark" data-stellar-background-ratio="0.5">
        <div class="container pt-section" data-name="Details" id="ptsection-two">

            <div class="container text-center">
                <h3 class="font-accident-one-bold uppercase white">Olá, Eu sou Daniel Carvalho</h3>
                <h5 class="font-accident-one-bold title uppercase hovercolor">PRONTO PARA TRANSFORMAR SEU SONHO EM REALIDADE?</h5>
                <div class="dividewhite4"></div>
                <p class="small fontcolor-medium-light">
                    Futuro cineasta de Sao Paulo. A "Roar Filmes" é a minha produtora de um homem só. Se você quiser conversar sobre algum projeto,
                    sinta-se a vontade para entrar em contato.
                    <br>

                </p>
            </div>

            <div class="dividewhite8"></div>
        </div>
</div>
</section>
<!-- /Details Block -->

<!-- Feedback Block -->
<section id="feedback" class="feedback e-block e-block-darker" data-stellar-background-ratio="0.5">
    <div class="container pt-section text-center" data-name="Feedback" id="ptsection-eight">

        <div class="row">
            <div class="col-md-12">
                <h3 class="font-accident-one-bold uppercase white">COMECE O SEU SONHO AQUI</h3>
                <h5 class="font-accident-one-bold title uppercase hovercolor">VOCÊ PODE COMEÇAR DIZENDO OLÁ</h5>
                <div class="dividewhite4"></div>
            </div> 

            <div class="col-md-2"></div>
            <div class="col-md-8 e-centered">
                <div class="dividewhite2"></div>
                <form action="formOrcamento.php" name="form_contato" method="post" class="wpcf7-form">
                    <p>
                        <span class="wpcf7-form-control-wrap"><input type="text" name ="nome" size="40" class="" placeholder="Nome "></span>
                        <span class="wpcf7-form-control-wrap"><input type="email" name ="email" size="40" class="" placeholder="E-mail"></span>
                        <span class="wpcf7-form-control-wrap"><input type="text" name="tipoevento" size="40" class="fullwidth-field" placeholder="Tipo de Evento"></span>
                        <span class="wpcf7-form-control-wrap"><textarea name="mensagem" cols="40" rows="6" class="fullwidth-field" placeholder="Mensagem"></textarea></span>
                        <br>
                        <br>
                        <input type="submit" value="Enviar Orçamento" class="btn btn-lg btn-wh-str">
                    </p>
                </form>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-12 divider-dynamic"></div>

        </div>

    </div>
</section>
<!-- /Feedback Block -->
</div>