<!--  Portfolio Block  -->
<section id="portfolio" class="portfolio-hp e-block e-block-dark" data-stellar-background-ratio="0.5">
    <div class="pt-section" data-name="Portfolio" id="ptsection-four">

        <div class="container text-center">
            <h3 class="font-accident-one-bold uppercase white">Portfolio</h3>
            <h5 class="font-accident-one-bold title uppercase hovercolor">Working hard and making the success</h5>
            <div class="dividewhite4"></div>
            <p class="small fontcolor-medium-light">
                Customize your website as you want using different colors and 100% free fonts. Build it from pieces and blocks as simple
                as Lego.
                <br> Electronic Website Template is fully responsive, looks and works perfect on any device.
            </p>
        </div>

        <div class="dividewhite8"></div>
        <div id="isotope-filters" class="port-filter container text-center">
            <ul>
                <li><a href="#cat1" data-filter="*">All</a></li>
                <li><a href="#cat2" data-filter=".web">Web Design</a></li>
                <li><a href="#cat3" data-filter=".marketing">Online Marketing</a></li>
                <li><a href="#cat4" data-filter=".seo">SEO</a></li>
            </ul>
        </div>
        <div class="dividewhite4"></div>
        <div class="grid container text-center">

            <div id="posts" class="row popup-container">

                <div class="grid-item web col-sm-12">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/00.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/00.jpg" class="img-responsive'" alt="img11" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Music <span>Sounds</span></h3>
                                    <p>#web #seo </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/01.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/01.jpg" class="img-responsive'" alt="img11" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Music <span>Sounds</span></h3>
                                    <p>#web #seo </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item grid-sizer web seo col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/02.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/02.jpg" class="img-responsive" alt="img03" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Fire <span>Burns</span></h3>
                                    <p>#web #seo</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/03.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/03.jpg" class="img-responsive" alt="img11" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Ice <span>Cold</span></h3>
                                    <p>#marketing</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/04.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/04.jpg" class="img-responsive" alt="img03" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Everybody <span>Lies</span></h3>
                                    <p>#marketing</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item web marketing col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/05.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/05.jpg" class="img-responsive" alt="img11" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Music <span>Sounds</span></h3>
                                    <p>#web #seo </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item uncategorized col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/06.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/06.jpg" class="img-responsive" alt="img03" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Fire <span>Burns</span></h3>
                                    <p>#web #seo</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/07.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/07.jpg" class="img-responsive" alt="img03" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Fire <span>Burns</span></h3>
                                    <p>#web #seo</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrap">
                        <figure class="effect-goliath">
                            <div class="popup-call">
                                <a href="../app/assets/custom/images/magazine/08.jpg" class="gallery-item"><i class="flaticon-plus14"></i></a>
                            </div>
                            <img src="../app/assets/custom/images/magazine/08.jpg" class="img-responsive" alt="img03" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>Fire <span>Burns</span></h3>
                                    <p>#web #seo</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- /Portfolio Block  -->

<!-- Feedback Block -->
<section id="feedback" class="feedback e-block e-block-darker" data-stellar-background-ratio="0.5">
    <div class="container pt-section text-center" data-name="Feedback" id="ptsection-eight">

        <div class="row">
            <div class="col-md-12">
                <h3 class="font-accident-one-bold uppercase white">COMECE O SEU SONHO AQUI</h3>
                <h5 class="font-accident-one-bold title uppercase hovercolor">VOCÊ PODE COMEÇAR DIZENDO OLÁ</h5>
                <div class="dividewhite8"></div>
            </div>
            <div class="col-md-12 dividewhite4"></div>

            <div class="col-md-2"></div>
            <div class="col-md-8 e-centered">
                <div class="dividewhite2"></div>
                <form action="#!" class="wpcf7-form">
                    <p>
                        <span class="wpcf7-form-control-wrap"><input type="text" size="40" class="" placeholder="Name"></span>
                        <span class="wpcf7-form-control-wrap"><input type="email" size="40" class="" placeholder="Email"></span>
                        <span class="wpcf7-form-control-wrap"><input type="text" size="40" class="fullwidth-field" placeholder="Company / Organization"></span>
                        <span class="wpcf7-form-control-wrap"><textarea name="Message" cols="40" rows="6" class="fullwidth-field" placeholder="Message"></textarea></span>
                        <br>
                        <br>
                        <input type="submit" value="Send message" class="btn btn-lg btn-wh-str">
                    </p>
                </form>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-12 divider-dynamic"></div>

        </div>

    </div>
</section>
<!-- /Feedback Block -->