<div class="nav-wrapper">

    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>

        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>

        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li>

        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="zmdi zmdi-card-giftcard"></i><span data-translate="PRODUTOS"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/ui/typography"><i class="fa fa-circle"></i><span data-translate="CADASTRAR"></span></a></li>
            </ul>
        </li>

        <li>
            <a md-button aria-label="meanu" href="#/page"><i class="zmdi zmdi-pages"></i><span data-translate="CATEGORIAS"></span></a>
            <ul>


                <li><a md-button aria-label="meanu" href="#/page/profile"><i class="fa fa-circle"></i><span data-translate="CADASTRAR"></span></a></li>

                <li><a md-button aria-label="meanu" href="#/page/invoice"><i class="fa fa-circle"></i><span data-translate="IMPRIMIR VENDA"></span></a></li>

            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#/table"><i class="zmdi zmdi-view-list"></i><span data-translate="ESTOQUE"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/table/static"><i class="fa fa-circle"></i><span data-translate="MANUTENÇÃO DE ESTOQUE"></span></a></li>
            </ul>
        </li>
        <li class="nav-divider"></li>

        <li class="nav-title"> <span data-translate="MAIS"></span> </li>

        <li><a md-button aria-label="meanu" href="#/page/invoice"><i class="fa fa-circle"></i><span data-translate="IMPRIMIR VENDA"></span></a></li>
                
    </ul>

</div>